.transparent-bg {
    background-color: rgba(255, 255, 255, 0.0); /* Red color with 50% transparency */
  }
  form{
    background-color: rgba(255, 255, 255, 0.404);
   backdrop-filter: blur(20px);
  }
  